
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px;
    background-color: #1f2937;
    color: #fff;
    margin: 0px;
}

.header-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: darkgray;
    
}

ul {  
    display: flex;
    list-style-type: none; /* Removes the bullets */
    padding: 0;            /* Removes default indentation */
    margin: 0;             /* Removes default spacing */
    gap: 50px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.main-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 70px 150px;

    background-color: #1f2937;
    color: #fff;
}

.main-1-intro {
    text-align: left;
    padding-right: 70px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    color: darkgrey;
}

.cta-button-1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(31, 83, 179);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Remove underline from links */
}

.main-2 {
    align-items: center;
    text-align: center;
    padding: 70px 150px;
    background-color: white;
}